<%= form_for(job) do |f| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li class="text-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
  <div class="form-group">
    <%= f.text_field :title, placeholder: "Enter the Job Title", :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.text_area :description, placeholder: "Enter the job description, copy and pasting is fine", :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.text_field :company, placeholder: "Enter the company/organization name", :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.text_field :location, placeholder: "Enter position location", :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.text_field :contact, placeholder: "Enter email or preferred method of contact", :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.text_field :email, placeholder: "Enter the best email to reach you at", :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.text_field :phone_number, placeholder: "Enter the best phone number to reach you at", :class => "form-control input-medium bfh-phone"%>
  </div>

  <!-- <input type="text" class="input-medium bfh-phone" data-country="US"> -->

  <%= f.submit "Submit", :class => "btn btn-primary pull-right"%>
  <!-- <%= link_to 'Back', jobs_path %> -->
</fieldset>
<% end %>
