<p id="notice" class="text-success"><%= notice %></p>

<h1 align="center">Job Postings</h1>

<table class="table table-striped table-hover" >
  <thead>
    <tr>
      <th>Title</th>
      <th>Company</th>
      <!-- <th>Contact</th> -->
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.title, job %></td>
        <td><%= job.company %></td>
        <!-- <td><%= job.contact %></td> -->
        <td><%= job.location %></td>
      </tr>
    <% end %>

  </tbody>

</table>
<div align="center"><%= will_paginate @jobs, :class => "pagination pagination-sm"%></div>
<br>
